/* overwriting semantic ui framework and default browser stylings */
h1, h2, h3 {
	color: white;
	margin: 0;
}

h1 {
	font-size: 6.5em;
}

h3 {
	font-size: 3em;
}

a:hover {
	text-decoration: underline;
}

/* Firefox puts closing p tags before and after a ul, which applys any margin rules to both tags 
		universal ul rules below help fight that */
ul {
	margin: 0;
	margin-top: -10px;
	margin-left: 15px;
	padding: 0;
}

p {
	margin: 0;
}

/* ----- nav menu styling ----- */
.ui.menu {
	box-shadow: 0 -2px 10px 2px black;
	border-radius: 0;
	z-index: 100;
}

.ui.menu>.item:first-child {
	border-radius: 0;
}

.ui.menu .item {
	font-size: 1.5rem;
	padding: .8em .95em;
}

.ui.menu .item:before {
	display: none;
}

.ui.menu .active.item {
	box-shadow: none;
	border: none;
}

.menu > #contentLinks {
	float: right;
}

/* ----------- Galaxy S3 - S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (max-device-width: 360px)
  and (min-device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
		#index,
		#contentLinks > .item {
			width: 100%;
		}

		#contentLinks > .item {
			float: left;
			display: block;
		}
}

@media only screen
	and (max-width: 500px) {
		#index,
		#contentLinks > .item {
			width: 100%;
		}

		#contentLinks > .item {
			float: left;
			display: block;
		}
}

/* ----- end of menu styling ----- */

.ui.centered.grid {
	background-image: url("../images/high-tech-buildings-bg-compressed.png");
	background-position: center center;
}

#splash {
	height: 100%;
	max-width: 100%;
}

#titleWrapper {
	text-align: center;
	margin-top: 60px;
}

.content.page {
	height: 100%;
	padding: 14px 0px !important;
	background-color: #FFF;
}

.page.header {
	height: 160px;
	padding-top: 75px;
	color: white;
	font-size: 4em;
	font-weight: 700;
	text-align: center;
	background-color: black;
}

.page.body {
	padding: 35px 30px;
}

.body.header {
	font-size: 2.7em;
	font-weight: 800;
	padding-bottom: 10px;
}

.body.text{
	font-size: 1.2em;
	color: #7f8c8d;
}

.body.text p,
#profile {
	margin-bottom: 20px;
}

.body.text b {
	color: #34495e;
	font-weight: 900;
}

.body.text p:last-of-type {
	margin-bottom: 0px;
}

#profile img,
#profile p {
	display: inline-block;
}

#profile p {
	position: relative;
	top: -17px;
	left: 10px
}

.body.quote {
	margin-top: 40px;
	font-size: 1.4em;
	font-weight: 100;
	text-align: center;
}

#profilePicture {
	display: inline-block;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	padding: 5px;
	border: 1px solid gray;
}

.technologies {
	display: block;
}

.technologies .logo {
	position: relative;
	top: -10px;
	display: inline-block;
	height: 25px;

	margin-right: 8px;
}